.popover-chat button{
    position: absolute;
    top: 90vh;
    left: 90vw;
    background: rgb(0, 237, 100);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.popover-chat button:hover{
    flex: 200%;
}

.popover-chat{
    size: 200px;
}